body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #app {
    overflow-x: hidden;
    font-family: "Roboto";
    font-style: normal;
  }
  
  a,
  a:focus,
  a:hover {
    color: initial;
    text-decoration: none;
  }
  
  .fw-b {
    font-weight: bold;
  }
  
  .m-y-0{
    margin-block: 0px;
  }

  .f-w-400{
    font-weight: 400;
  }

  .f-w-500{
    font-weight: 500;
  }

  .f-s-16{
    font-size: 16px;
    line-height: 24px;
  }

  .f-s-14{
    font-size: 14px;
    line-height: 22px;
  }

  .f-s-12{
    font-size: 12px;
    line-height: 20px;
  }

  .f-s-20{
    font-size: 20px;
    line-height: 28px;
  }

  .text-c-primary-1{
      color: #5C6C7F;
  }

  .text-c-primary-2{
    color: #272D35;
}

.text-c-primary-3{
    color: #475362;
}

  .w-95,
  .navbar,
  .container,
  hr {
    width: 500px;
    margin: auto;
  }
  
  .container {
    background: #f5f6fa;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  hr {
    width: 500px;
    margin-inline: auto;
    border-block: 1px solid #f3f5f7;
  }
  
  .btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    /* font-family: "Roboto"; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  
  .btn-primary {
    background: #0062ff;
    color: white;
    border-radius: 2px;
  }
  
  .btn-primary:hover {
    background: #0454d4;
  }
  

  a,
  a:focus,
  a:hover {
    color: initial;
    text-decoration: none;
  }

  @media screen and (max-width: 550px) {
    .w-95 {
      width: auto;
      margin-left: 16px;
      margin-right: 16px;
    }
    .navbar,
    .container,
    hr {
      width: 100%;
    }
  }
  